<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.extend.ArticleExtendMapper">
  <resultMap id="ExtendResultMap" type="com.example.demo.bean.extend.ArticleExtend"
  	extends="com.example.demo.dao.ArticleMapper.BaseResultMap">
	<association property="category" column="category_id" select="com.example.demo.dao.CategoryMapper.selectByPrimaryKey"></association>
  	<collection property="comment" column="id" select="com.example.demo.dao.extend.CommentExtendMapper.findAllCommentByid"></collection>
  </resultMap>
  
  <select id="selectAll"  resultMap="ExtendResultMap">
  	select * from cms_article
  </select>
</mapper>