<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.extend.UserExtendMapper">
  <resultMap id="UserExtendMapper" type="com.example.demo.bean.extend.UserRole"
 	extends="com.example.demo.dao.UserMapper.BaseResultMap">
	<collection property="list" column="id" select="com.example.demo.dao.extend.RoleExtendMapper.findByUserId"></collection>
  </resultMap>
  
  <select id="selectAll"  resultMap="UserExtendMapper">
  	select * 
  	from cms_user
  	where id=#{id}
  </select>
</mapper>