<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.briup.dao.mapperInterface.SOrderMapper" >
  <resultMap id="BaseResultMap" type="com.briup.common.bean.SOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="paystatus" property="paystatus" jdbcType="BIGINT" />
    <result column="receivename" property="receivename" jdbcType="VARCHAR" />
    <result column="receiveaddress" property="receiveaddress" jdbcType="VARCHAR" />
    <result column="receivephone" property="receivephone" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="BIGINT" />
    <result column="dob" property="dob" jdbcType="DATE" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, orderid, paystatus, receivename, receiveaddress, receivephone, sum, dob, user_id
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.briup.common.bean.SOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    id,orderid,paystatus,receivename,receiveaddress,receivephone,sum,dob,user_id
    from s_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.common.bean.SOrderExample" >
    delete from s_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.common.bean.SOrder" >
    insert into s_order (id, orderid, paystatus, 
      receivename, receiveaddress, receivephone, 
      sum, dob, user_id)
    values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=VARCHAR}, #{paystatus,jdbcType=BIGINT}, 
      #{receivename,jdbcType=VARCHAR}, #{receiveaddress,jdbcType=VARCHAR}, #{receivephone,jdbcType=VARCHAR}, 
      #{sum,jdbcType=BIGINT}, #{dob,jdbcType=DATE}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.common.bean.SOrder" >
    insert into s_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="paystatus != null" >
        paystatus,
      </if>
      <if test="receivename != null" >
        receivename,
      </if>
      <if test="receiveaddress != null" >
        receiveaddress,
      </if>
      <if test="receivephone != null" >
        receivephone,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="dob != null" >
        dob,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=BIGINT},
      </if>
      <if test="receivename != null" >
        #{receivename,jdbcType=VARCHAR},
      </if>
      <if test="receiveaddress != null" >
        #{receiveaddress,jdbcType=VARCHAR},
      </if>
      <if test="receivephone != null" >
        #{receivephone,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=BIGINT},
      </if>
      <if test="dob != null" >
        #{dob,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.common.bean.SOrderExample" resultType="java.lang.Integer" >
    select count(*) from s_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.paystatus != null" >
        paystatus = #{record.paystatus,jdbcType=BIGINT},
      </if>
      <if test="record.receivename != null" >
        receivename = #{record.receivename,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveaddress != null" >
        receiveaddress = #{record.receiveaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receivephone != null" >
        receivephone = #{record.receivephone,jdbcType=VARCHAR},
      </if>
      <if test="record.sum != null" >
        sum = #{record.sum,jdbcType=BIGINT},
      </if>
      <if test="record.dob != null" >
        dob = #{record.dob,jdbcType=DATE},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_order
    set id = #{record.id,jdbcType=BIGINT},
      orderid = #{record.orderid,jdbcType=VARCHAR},
      paystatus = #{record.paystatus,jdbcType=BIGINT},
      receivename = #{record.receivename,jdbcType=VARCHAR},
      receiveaddress = #{record.receiveaddress,jdbcType=VARCHAR},
      receivephone = #{record.receivephone,jdbcType=VARCHAR},
      sum = #{record.sum,jdbcType=BIGINT},
      dob = #{record.dob,jdbcType=DATE},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.common.bean.SOrder" >
    update s_order
    <set >
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        paystatus = #{paystatus,jdbcType=BIGINT},
      </if>
      <if test="receivename != null" >
        receivename = #{receivename,jdbcType=VARCHAR},
      </if>
      <if test="receiveaddress != null" >
        receiveaddress = #{receiveaddress,jdbcType=VARCHAR},
      </if>
      <if test="receivephone != null" >
        receivephone = #{receivephone,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=BIGINT},
      </if>
      <if test="dob != null" >
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.common.bean.SOrder" >
    update s_order
    set orderid = #{orderid,jdbcType=VARCHAR},
      paystatus = #{paystatus,jdbcType=BIGINT},
      receivename = #{receivename,jdbcType=VARCHAR},
      receiveaddress = #{receiveaddress,jdbcType=VARCHAR},
      receivephone = #{receivephone,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=BIGINT},
      dob = #{dob,jdbcType=DATE},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>